#b1 {
   margin: auto;
	position: absolute;
opacity:0.7;
	top: 50px;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adc5db), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #adc5db 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adc5db', endColorstr='#f6f6f6',GradientType=0);
	background-color:#adc5db;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Courier New;
	font-size:30px;
	font-weight:bold;
	padding:10px 72px; //32
	text-decoration:none;
}
#b2 {
   margin: auto;
	position: absolute;
opacity:0.7;
	top: 50px;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adc5db), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #adc5db 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adc5db', endColorstr='#f6f6f6',GradientType=0);
	background-color:#adc5db;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Courier New;
	font-size:30px;
	font-weight:bold;
	padding:10px 62px; // 22
	text-decoration:none;
}
#b3 {
   margin: auto;
	position: absolute;
opacity:0.7;
	top: 50px;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adc5db), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #adc5db 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adc5db', endColorstr='#f6f6f6',GradientType=0);
	background-color:#adc5db;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Courier New;
	font-size:30px;
	font-weight:bold;
	padding:10px 80px; //40
	text-decoration:none;
}
#b4 {
   margin: auto;
	position: absolute;
opacity:0.7;
	top: 50px;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adc5db), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #adc5db 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adc5db', endColorstr='#f6f6f6',GradientType=0);
	background-color:#adc5db;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Courier New;
	font-size:30px;
	font-weight:bold;
	padding:10px 44px; // 4
	text-decoration:none;
}
#b5 {
   margin: auto;
	position: absolute;
opacity:0.7;
	top: 50px;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adc5db), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #adc5db 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #adc5db 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adc5db', endColorstr='#f6f6f6',GradientType=0);
	background-color:#adc5db;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Courier New;
	font-size:30px;
	font-weight:bold;
	padding:10px 72px; //32
	text-decoration:none;
}
