#info{
position: relative;
left: 500px;
}

.css-slideshow{
   position: relative;
   //max-width: 495px;
   //height: 100px;
   //margin: 5em auto .5em auto;
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}

.css-slideshow figure{
   opacity:0;
}

figure:nth-child(1) {
   animation: xfade 60s 55s infinite;
}
figure:nth-child(2) {
   animation: xfade 60s 50s infinite;
}
figure:nth-child(3) {
   animation: xfade 60s 45s infinite;
}
figure:nth-child(4) {
   animation: xfade 60s 40s infinite;
}
figure:nth-child(5) {
   animation: xfade 60s 35s infinite;
}
figure:nth-child(6) {
   animation: xfade 60s 30s infinite;
}
figure:nth-child(7) {
   animation: xfade 60s 25s infinite;
}
figure:nth-child(8) {
   animation: xfade 60s 20s infinite;
}
figure:nth-child(9) {
   animation: xfade 60s 15s infinite;
}
figure:nth-child(10) {
   animation: xfade 60s 10s infinite;
}
figure:nth-child(11) {
   animation: xfade 60s 5s infinite;
}
figure:nth-child(12) {
   animation: xfade 60s 0s infinite;
}

@keyframes xfade{
   0%{
      opacity: 1;
   }
   10.5% {
      opacity:1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}
