#wrapper
{
   width: 90%;
   height: 95%;
   margin: auto;
}
.heading
{
	color: red;
}

.seperator
{
	width: 300px;
	margin: 20px;
	padding: 25px;
	box-shadow: 5px 5px 5px #5d75ab;
	background-color: #8da5db;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}

#python
{
z-index: 0;
transition: 0.5s;
-moz-transition: 0.5s;
-webkit-transition: 0.5s;

position: absolute;
top: 100px;
left: 35%;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
width: 100px;
height: 100px;
}


#python:hover
{
z-index: 1;
top: 50px;
left: 35%;
width: 63%;
height: 90%;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
box-shadow: 5px 5px 5px #5d75ab;
}

#linux
{
z-index: 0;
transition: 0.5s;
-moz-transition: 0.5s;
-webkit-transition: 0.5s;

position: absolute;
top: 225px;
left: 35%;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
width: 100px;
height: 100px;
}


#linux:hover
{
z-index: 1;
top: 50px;
left: 35%;
width: 63%;
height: 90%;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
box-shadow: 5px 5px 5px #5d75ab;
}

#threed
{
z-index: 0;
transition: 0.5s;
-moz-transition: 0.5s;
-webkit-transition: 0.5s;

position: absolute;
top: 350px;
left: 35%;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
width: 100px;
height: 100px;
}


#threed:hover
{
z-index: 1;
top: 50px;
left: 35%;
width: 63%;
height: 90%;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
box-shadow: 5px 5px 5px #5d75ab;
}

#python2
{
z-index: 0;
transition: 0.5s;
-moz-transition: 0.5s;
-webkit-transition: 0.5s;

position: absolute;
top: 475px;
left: 35%;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
width: 100px;
height: 100px;
}


#python2:hover
{
z-index: 1;
top: 50px;
left: 35%;
width: 63%;
height: 90%;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
box-shadow: 5px 5px 5px #5d75ab;
}
